/* Layout */
body{margin:0 !important; padding:0 !important; font-family:Arial !important;}
.cont{width:960px; margin:0 auto;}
.clear{clear:both;}

/* HTML Fields */
.row{padding:0 0 10px 0;}
.row label{font-size:12px; font-weight:bold; color:#333; width:100px; display:inline-block;}
input.text{border:1px solid #71ae47; padding:7px 0 7px 0; text-indent:5px; color:#333; font-size:12px; font-weight:normal; width:100%; height:38px; background-color:#fff; outline-width:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:300px;}
input.submit{border:1px solid #71ae47; padding:10px 20px; color:#fff; font-size:12px; font-weight:bold; background-color:#71ae47; cursor:pointer; outline-width:0;}
input.submit:hover{background-color:#fff; color:#71ae47; border:1px solid #71ae47;}
.readonly{background-color:#ddd !important;}

/* Header */
#header{display:block;}
.logo{float:left; width:50%;}
.logo_inline{width:215px; height:45px; margin:10px 0 20px 40px; display:block; background-image:url("../img/logo.png"); background-size:100% 100%;}
.title{float:right; width:50%; color:#333; font-size:22px; font-weight:bold; display:block; padding:20px 0 0 0;}
.title_inline{padding-right:40px; text-align:right}

/* Tabs */
#tabs ul{padding:0 0 0 40px; margin:0; border-bottom:1px solid #71ae47; height:40px;}
#tabs li{float:left; list-style-type:none; cursor:pointer; font-size:12px; font-weight:bold; color:#71ae47; padding:13px 20px 0 20px; height:26px; border-width:1px 0px 1px 1px; border-style:solid; border-color:#71ae47; position:relative; text-align:center;}
.tab_last{border-width:1px !important;}
#tabs li:hover{background-color:#e0e7cd;}
.tab_selected{color:#333 !important; background-color:#e0e7cd !important; border-bottom-color:#e0e7cd !important;}

/* API */
#api{float:right; margin:13px 40px 0 0; font-size:12px; font-weight:bold; color:#71ae47; text-decoration:none;}
#api:hover{color:#71ae47; text-decoration:underline;}

/* Search */
#search{background-color:#e0e7cd; border-bottom:1px solid #71ae47; display:block; padding:20px 0 20px 40px; margin:0;}
.search_cont{display:none;}
.show{display:block;}
#search p{margin:0; padding:0 0 10px 0; font-size:12px; color:#333; text-align:left;}

/* Results */
#results{padding:40px;}
#loading{display:block; margin:0 auto; background-image:url("../img/loading.gif"); background-position:0 20px; background-repeat:no-repeat; width:128px; height:40px; font-size:12px; font-weight:bold; color:#333; text-align:center;}
#results p{font-size:12px; color:#666; display:block;}
.result{display:block; margin:0 0 20px 0;}
.result p{margin:0 0 5px 0;}
.result a.purl{text-decoration:none; color:#71ae47; font-weight:bold; font-size:14px; margin:0 0 5px 0; display:block; cursor:pointer;}
.result a.purl:hover{text-decoration:underline; color:#71ae47;}
.result span{display:inline-block; margin-right:20px;}


/* Responsive */
@media all and (max-width:960px){
	.cont{width:auto; padding:0 20px;}
	#header{background-image:none;}
}
@media all and (max-width:800px){
	.logo{float:none; width:auto;}
	.logo_inline{margin:10px auto 20px auto;}
	.title{float:none; width:100%; padding:0 0 10px 0; background-image:none; font-size:16px;}
	.title_inline{padding-right:0; text-align:center;}
	#tabs ul{padding:0; display:table; width:100%; border-bottom:none;}
	#tabs ul li{display:table-cell; float:none;}
	.tab_first{border-width:1px 0 1px 0px !important;}
	.tab_last{border-width:1px 0 1px 1px !important;}
	#search{padding:20px;}
	#api{display:none;}
}
@media all and (max-width:500px){
	.row label{display:block; padding:0 0 5px 0;}
	input.text{width:100%;}
	label.spacer{display:none;}
	#results{padding:20px;}
}









